body {
    margin: 0;
    padding: 0;
    background-color: #4aaaa5;
    background-image: url("../images/dark_embroidery.png");
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}

.page-container {
    position: relative;
    min-height: 100vh;
}

/*Main Header*/
header {
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #ffffff;
    border-color: #cccccc;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5rem;
    background-color: #666666;
}

/*h1 is used on the main Header.*/
h1 {
    color: #ffffff;
    font-family: Georgia, Times, 'Times New Roman', serif;
}

/*h2 is used as the heading for all pages.*/
h2 {
    color: #4aaaa5;
    font-family: Georgia, Times, 'Times New Roman', serif;
}

hr {
    border: 2px solid #dddddd;
}

p {
    line-height: 1.5;
}

.main-content {
    margin: 0 auto;
    margin-top: 125px;
    width: 920px;
    padding: 20px 20px 2.5rem 20px;
    background-color: #ffffff;
    border-color: #dddddd;
}

.clearfix::after {
    content: " ";
    display: block;
    clear: both;
}

.title-div {
    float: left;
    width: 300px;
    top: 0;
    background-color: #4aaaa5;
    text-align: center;
}

#menu {
    padding-top: 10px;
}

.menu-item {
    float: left;
    list-style-type: none;
    line-height: 1.5;
}

.menu-item-separator {
    float: left;
    margin: 0 10px 0 10px;
}

#about-image {
    float: left;
    margin: 20px 20px 20px 0px;
}

#about-pp {
    margin-top: 26px;
}